* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%; /* Ensure the html and body take full height */
	font-family: 'IBM Plex Sans', sans-serif;
	font-optical-sizing: auto;
	background-color: #ffffff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
